<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>

<h2>Errores de carga:</h2>
<% if (type of errors != 'undefined'){ %>
<ul>
    <% for (let i=0;i< errors.length; i++) { %>
        <li>
            <%= errors[i].msg %>
        </li>
    <% } %>
</ul>
<% } %>