<!-- HEAD -->
<%- include('./partials/head') %>
<!-- HEADER -->
<%- include('./partials/header') %>



          <!--Contenido-->
          <section>
            <div class="container">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Controles
                    </button>
                    <div class="dropdown-menu " aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item active" type="button">Altas</button>
                        <button class="dropdown-item" type="button">Bajas</button>
                        <button class="dropdown-item" type="button">Modificaciones</button>
                    </div>
                </div>
                <hr>
               
                <!--Formulario de carga-->
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6 text-light ">
                            <label for="inputnombreProducto">nombreProducto</label>
                            <input type="text" class="form-control" id="inputnombreProducto"
                                placeholder="Guitarra acústica" required>
                        </div>
                        <div class="form-group col-md-6 text-light ">
                            <label for="inputDescripProducto">descripciónProducto</label>
                            <textarea class="form-control " rows="4"
                                placeholder="Guitarra acústica fenders, seis cuerdas,con micrófonos integrados..."
                                required id="inputDescripProducto"></textarea>
                        </div>
                        <div class="form-group col-md-6 text-light">
                            <label for="inputidProducto">idProducto</label>
                            <input type="password" class="form-control" id="inputidProducto"
                                placeholder="GA21582 (lista de productos del proveedor)" required>
                        </div>
                    </div>
                    <div class="form-group text-light">
                        <label for="inputPrecio">Precio unitario</label>
                        <input type="text" class="form-control" id="inputPrecio" placeholder="$15.000" required>
                    </div>
                    <div class="form-group text-light">
                        <label for="inputSerialProducto">serialProducto</label>
                        <input type="text" class="form-control" id="inputSerialProducto"
                            placeholder="GuitarraAcuFenders" required>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 text-light">
                            <label for="inputCategoriaProducto">Categorias</label>
                            <select id="inputCategoriaProducto" class="custom-select" required>
                                <option selected disabled value></option>
                                <option>Accesorios</option>
                                <option selected>Guitarras</option>
                                <option>Baterias</option>
                                <option>Bajos</option>
                                <option>Pianos</option>
                        </div>
                        </select>

                    </div>
                    <div class="form-group col-md-2 text-light">
                        <label for="inputCantidad">Cantidad</label>
                        <input type="number" class="form-control" id="inputCantidad" placeholder="8">
                    </div>
            </div>
                   <!--Carga de imagen-->
                   <img src="fileInput" class="rounded float-left text-light" alt="Imagen cargada">
                   <div class="input-group mb-4" >
                    <div class="input-group-prepend">
                        <span class="input-group-text">Carga tu imagen</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="fileInput" aria-describedby="fileInput">
                        <label class="custom-file-label" for="fileInput">imagenProducto</label>
                    </div>
                </div>
                    <!--Carga de imagen-->
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label text-light" for="gridCheck">
                        Marcar si completo correctamente
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-secondary" id="dt-all-checkbox">Agregar</button>
            </form>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Acciones
                </button>
                <div class="dropdown-menu " aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item active" type="button">Eliminar</button>
                    <button class="dropdown-item" type="button">Modificaciones</button>
                    
                </div>
            </div>
            <!--/Formulario de carga-->
            <hr>
            <!--Productos a cargar (vista pc)-->
            <label for="inputidProducto" class="text-light"><strong>Carga de los productos</strong> </label>
            <div class="table-responsive d-none d-lg-flex">
                <table class="table text-light">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">nombreProducto</th>
                      <th scope="col">idProducto</th>
                      <th scope="col">serialProducto</th>
                      <th scope="col">precioProducto</th>
                      <th scope="col">cantidadProducto</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row"><div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialChecked2" checked>
                        <label class="form-check-label" for="materialChecked2"></label>
                      </div></th>
                      <td>Guitarra acústica Fender</td>
                      <td>GA21582</td>
                      <td>GuitarraAcuFenders</td>
                      <td>$15.000</td>
                      <td>8</td>
                     
                    </tr>
                    <tr>
                        <th scope="row"><div class="form-check">
                            <input type="checkbox" class="form-check-input" id="materialChecked2" checked>
                            <label class="form-check-label" for="materialChecked2"></label>
                          </div></th>
                      <td>Batería Tama</td>
                      <td>BTM8504</td>
                      <td>BatTAMASplender</td>
                      <td>$80.000</td>
                      <td>3</td>
                     
                    </tr>
                    <tr>
                        <th scope="row"><div class="form-check">
                            <input type="checkbox" class="form-check-input" id="materialChecked2" checked>
                            <label class="form-check-label" for="materialChecked2"></label>
                          </div></th>
                      <td>---</td>
                      <td>---</td>
                      <td>---</td>
                      <td>---</td>
                      <td>---</td>
                      
                    </tr>
                  </tbody>
                </table>
              </div>
               <!--/Productos a cargar (vista pc)-->
                <!--Productos a cargar (vista mbile y tablet)-->
                <div class="table-responsive d-lg-none" >
                    <table class="table text-light">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">nombreProducto</th>
                          <th scope="col">idProducto</th>
                          <th scope="col">cantidad</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row"><div class="form-check">
                            <input type="checkbox" class="form-check-input" id="materialChecked2" checked>
                            <label class="form-check-label" for="materialChecked2"></label>
                          </div></th>
                          <td>Guitarra acústica Fender</td>
                          <td>GA21582</td>
                          <td>8</td>
                         
                        </tr>
                        <tr>
                            <th scope="row"><div class="form-check">
                                <input type="checkbox" class="form-check-input" id="materialChecked2" checked>
                                <label class="form-check-label" for="materialChecked2"></label>
                              </div></th>
                          <td>Batería Tama</td>
                          <td>BTM8504</td>
                          <td>3</td>
                         
                        </tr>
                        <tr>
                            <th scope="row"><div class="form-check">
                                <input type="checkbox" class="form-check-input" id="materialChecked2" checked>
                                <label class="form-check-label" for="materialChecked2"></label>
                              </div></th>
                          <td>---</td>
                          <td>---</td>
                          <td>---</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <hr>
                  <button type="submit" class="btn btn-secondary" id=>Cargar todo</button>
                  <hr>
            </div>

        </section>

<!-- FOOTER -->
<%- include('./partials/footer') %>