<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <!--My CSS-->
   <link rel="stylesheet" href="../stylesheets/style.css">
  
   <!--CSS Boostrap-->
    <link rel="stylesheet" href="../bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-4.4.1-dist/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../bootstrap-4.4.1-dist/css/bootstrap-grid.min.css">
     <!--Font awesome-->
    <script src="https://kit.fontawesome.com/ada1ef26bb.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <!--Boostrap-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
</head>

<body>
   <!--Header-->
   <header>
    <header class="d-lg-flex justify-content-lg-around" style="padding-top: 20px;">
      <div class="container d-lg-none">
        <a href="./registro.html" class="d-flex justify-content-center flex-grow-1"><img src="../images/Logo(2).png" class="img-fluid" alt="logo">
        <!-- <img src=/images/logo.png" class="img-fluid" alt="logo"> -->
        </a>
      </div><br>
      <nav class="navbar navbar-dark bg-dark flex-lg-fill">
        <!-- logo lg -->
          <div  id="logoLG" class="d-lg-flex order-lg-1 d-none d-xs-none d-sm-none d-md-none">
            <a href="/views/index.html"><img src="../images/Logo(2).png" class="img-fluid" alt="logo">
            <!-- <img src=/images/logo.png" class="img-fluid" alt="logo"> -->
            </a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#categorias" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <form class="form-inline my-2 my-lg-0 order-lg-1 flex-md-grow-1 justify-content-center">
            <input class="form mr-sm-1 w-50" type="search" placeholder=" Buscar" aria-label="Search">
            <button class="btn btn-dark my-2 my-sm-0" type="submit" style="border-color: #6c757d;"><i class="fas fa-search" style="color: white;"></i></button>
          </form>
          <!-- user -->
          <div class="dropdown order-lg-1">
            <a class="" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
              <button type="button" class="btn btn-secondary bg-dark my-2 my-lg-0"><i class="far fa-user"></i></button>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Entrar</a>
              <a class="dropdown-item" href="#">Registrarse</a>
            </div>
          </div>
          <button type="button" class="btn btn-secondary bg-dark my-2 my-lg-0 order-lg-1"><i class="fas fa-shopping-cart"></i></button>
          <div class="collapse navbar-collapse  order-lg-1" id="categorias">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Accesorios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Bajos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Baterías</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Guitarras
                </a>
                <div class="dropdown-menu" style="width:50px" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Acústicas</a>
                  <a class="dropdown-item" href="#">Eléctricas</a>
                  <a class="dropdown-item" href="#">Electroacústicas</a>
                  <a class="dropdown-item" href="#">Clásicas</a>
                </div>
              </li>
            </ul>
          </div>
      </nav>
      </div>
   </header>
   <section>
     <div class="container">
       <br>
       <form class="form-horizontal w-50">
        <p class="text-center text-uppercase text-light ">REGISTRO</p>
        <div class="form-group">
          <label for="inputNombre" class="col-sm-2 control-label text-light">Nombre</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputNombre" placeholder="Nombre"  required>
          </div>
        </div>
        <div class="form-group">
          <label for="inputApellido" class="col-sm-2 control-label text-light">Apellido</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputApellido" placeholder="Apellido" required>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label text-light">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Example@gmail.com" required>
            <small id="helpBlock2" class="help-block text-light">Nunca compartas tus datos</small>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label text-light">Contraseña</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Contraseña" required>
            <small id="helpBlock2" class="help-block text-light "> Tu contraseña debe contener 8-20 carácteres de largo,contener letras y números, no espacios, carácteres especiales, o emojis.</small>
          </div>
        </div>
        <div class="form-group">
          <label for="inputConfirmPassword3" class="col-sm-2 col-md-6 col-lg-4 control-label text-light">Confirmar contraseña</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputConfirmPassword3" placeholder="Confirmar contraseña" required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-secondary btn-sm">Sign in</button>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary btn-sm">Ingresar con google</button>
          </div>
        </div>
      </form>
     </div>
   </section>
   <!--Frase-->
   
    
    <!-- footer -->
  <footer class="container-fluid" style="background-color: #2F303A;
  opacity: 0.8;">
    <div class="d-flex justify-content-between">
      <ul class="d-flex">
        <li><a href=""><i class="fas fa-user-circle"> Contacto</i></a></li>
        <li><a href=""><i class="far fa-question-circle"> FAQ</i></a></li>
        <li><a href=""><i class="fas fa-broadcast-tower"> Conocenos</i></a></li>
      </ul>
      <div class="d-flex">
        <a href="https://www.facebook.com/"><i class="fab fa-facebook-square p-2"></i></a>
        <a href="https://www.instagram.com/?hl=es-la"><i class="fab fa-instagram-square p-2"></i></a>
      </div>
    </div>
  </footer>
  <!-- /footer -->
  </body>
</body>
</html>