<body class="d-flex flex-column min-vh-100">
    <!-- header -->
    <!-- modal login -->
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="login menu" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content border-white bg-secondary">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><strong>Entrar</strong></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/users/login" method="POST" name="loginForm" class="formUserLogin">
              <div class="col-12 col-md-6 form-group">
                <label class="form-label" for="emailL">Email</label>
                <input id="emailL" type="email" name="email" placeholder="Ingrese su email" class="form-input emailL" required>
                <small class="errorEmailL error">El EMAIL es obligatorio, no debe contener espacios, debe ser menor a 35 caracteres y formato válido.</small>
              </div>
              <div class="col-12 col-md-6 form-group">
                <label class="form-label" for="passL">Contraseña</label>
                <input id="passL" type="password" name="pass" max="20" min="8" placeholder="Ingrese su clave" class="form-input passL"  required>
                <small class="errorPassL error">La CONTRASEÑA no debe tener espacios, contener minimo 8 caracteres y al menos una mayuscula.</small>
              </div>
                <% if(errorsL){ %>
                  <ul>
                    <% for (let errorL of errorsL.errors ) {%>
                      <li class="text-danger"><%= errorL.msg  %> </li>
                      <% } %>
                    </ul>
                <% } %>

              <div class="col-12 col-md-6 form-group">
                <input class="check-control remember" type="checkbox" name="remember" id="remember"> Recordarme
              </div>
              <div class="col-12 form-group">
                <button type="submit" id="submit" class="btn btn-dark">Ingresar</button> ¿No tenes cuenta? Registrate <a href="/users/register" style="text-decoration: underline;">ACA</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- /modal login -->
    <div class="container p-0">
    <header class="d-lg-flex justify-content-lg-around" style="padding-top: 20px;">
      <div class="container d-lg-none p-0">
        <a href="/" class="d-flex justify-content-center flex-grow-1"><img src="/images/logo.png"
            class="img-fluid logo" alt="logo">
        </a>
      </div><br>
      <nav class="navbar navbar-dark bg-dark flex-lg-fill">
        <!-- logo lg -->
        <div id="logoLG" class="d-lg-flex order-lg-1 d-none d-xs-none d-sm-none d-md-none">
          <a href="/"><img src="/images/logo.png" class="img-fluid logo" alt="logo">
          </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#categorias"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- search -->
        <form action="/products/search" method="GET" name="searchForm" class="formSearch" class="form-inline my-2 my-lg-0 order-lg-1 flex-md-grow-1 justify-content-center">
          <input class="form mr-sm-1 p-0 navSearch rounded-left border" name="q" type="search" placeholder=" Buscar" aria-label="Search">
          <button class="btn btn-dark my-2 my-sm-0 rounded-right" type="submit" style="border-color: #6c757d;"><i class="fas fa-search"
              style="color: white;"></i></button>
        </form>
        <!-- user -->
        <% if (frontLogedUser){ %>
        <div class="dropdown order-lg-1">
          <a class="" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" data-display="static"
            aria-haspopup="true" aria-expanded="false">
            <button type="button" class="btn btn-secondary bg-dark my-1 my-lg-0"><%= frontLogedUser.firstName.slice(0,1)  %>
            </button>
          </a>
          <div class="dropdown-menu dropdown-menu-right border-white text-white bg-secondary text-center"
            aria-labelledby="navbarDropdown">
            <!-- logout y link perfil-->
            <button type="" class='btn btn-light mb-1 btn-block '>
              <a class="text-dark" href="/users/profile/<%=frontLogedUser.id  %>">Perfil</a>
            </button>
            <form action="/users/logout" method="POST" class="text-center">
              <button type="submit" class='btn btn-light btn-block'>Cerrar sesión</button>
            </form>
          </div>
        </div>
        <% }else{ %>
        <div class="dropdown order-lg-1">
          <a class="" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" data-display="static"
            aria-haspopup="true" aria-expanded="false">
            <button type="button" class="btn btn-secondary bg-dark my-1 my-lg-0"><i class="far fa-user"></i></button>
          </a>
          <div class="dropdown-menu dropdown-menu-right border-white text-white bg-secondary" aria-labelledby="navbarDropdown">
            <!-- login -->
            <button type="button" class="btn dropdown-item" data-toggle="modal" data-target="#login">Entrar</button>
            <!-- register -->
            <a class="dropdown-item" href="/users/register">Registrarse</a>
          </div>
        </div>
        <% } %>

        <button type="button" class="btn btn-secondary bg-dark my-2 my-lg-0 order-lg-1"><a href="/carrito" style="  color: inherit;
          text-decoration: inherit;"><i
          class="fas fa-shopping-cart"></i></a>
        </button>
        <div class="collapse navbar-collapse order-lg-1 pl-3 rounded-bottom" id="categorias">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/products/list/">Todos los productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/products/list/1">Accesorios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/products/list/3">Bajos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/products/list/2">Baterías</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/products/list/5">Teclados</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Guitarras
              </a>
              <div class="dropdown-menu border-white bg-dark mb-2" style="width:50px" aria-labelledby="navbarDropdown">
                <a class="dropdown-item text-white-50" href="/products/list/6">Acústicas</a>
                <a class="dropdown-item text-white-50" href="/products/list/8">Eléctricas</a>
                <a class="dropdown-item text-white-50" href="/products/list/6">Electroacústicas</a>
                <a class="dropdown-item text-white-50" href="/products/list/7">Clásicas</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      </div>
    </header>
  </div>
    <!-- /header -->